:root {
  --color_fondo_formulario: rgba(82, 78, 78, 0.9);
  --color_borde_formulario: rgba(26, 24, 24, 0.7);
  --color_fondo_inputs: transparent;
  --color_borde_botones: #e8e8e8;
  --radio_borde_botones: 10px;
  --grosor_borde_botones: 1px;
  --color_transparente: transparent;
  --color_fondo_produccion: rgba(245, 245, 220, 1);
  --color_fondo_botones: rgba(197, 197, 145, 1);
  --color_borde_productos: #e0e0e0;
  --color_fondo_productos: whitesmoke;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Inconsolata', monospace;
}

html {
  height: 100%;
}

body {
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  padding: 0;
  width: 100%;
  min-height: 100vh;
  background-color: rgba(189, 224, 136, 0.3);
  font-family: 'Inconsolata', monospace;
}

.portafolio > * {
  border: 1px solid transparent;
  border-radius: 1px;
  padding: 0px 0px 0px 0px;
  text-align: center;
}

.portafolio {
  display: grid;
  gap: 1px;
  grid-template-areas:
    "header_conte"
    "cabecera"
    "productos"
    "footer";
}

.cabecera {
  grid-area: cabecera;
  background-color: rgba(189, 224, 136, 0.5);
  position: fixed;
  display: flex;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  align-items: center;
  justify-content: center;
}

.header-conte {
  grid-area: header-conte;
  background-color: transparent;
  /*background-color: brown;*/
  border: 1px solid blueviolet;


}

.productos {
  grid-area: productos;
  /*background-color: coral;*/
  margin-top: 3%;
  border: 1px solid red;
}

.footer {
  grid-area: footer;
  /*background-color: green;*/
  border: 1px solid red;
}

.header-conte > * {
  /* border: 1px solid red; */
  border-radius: 1px;
  padding: 1px;
}

.header-conte {
  display: grid;
  gap: 1px;
  grid-template-areas:
    "section_nombre"
    "section_nav"
    "section_clima";
    width: 99%;
    height: 90%;
  padding-top: 1px 1px 1px 1px;
  border: 1px solid whitesmoke;
  border-radius: 5px;
  text-align: center;
  align-items: center;
  justify-content: center;
}
.section_nombre {
  grid-area: section_nombre;
  /* background-color: greenyellow; */

}
.section_nav {
  grid-area: section_nav;
  /* background-color: grey; */

}
.section_clima {
  grid-area: section_clima;
  /* background-color: bisque; */

}

@media only screen and (min-width: 569px) and (max-width: 1400px) {
  .portafolio {
    display: grid;
    gap: 1px;
    grid-template:
      "cabecera   cabecera    cabecera    cabecera    cabecera" 10%
      "productos  productos   productos   productos   productos" 10%
      "productos  productos   productos   productos   productos" 10%
      "productos  productos   productos   productos   productos" 10%
      "productos  productos   productos   productos   productos" 10%
      "productos  productos   productos   productos   productos" 10%
      "productos  productos   productos   productos   productos" 10%
      "productos  productos   productos   productos   productos" 10%
      "productos  productos   productos   productos   productos" 10%
      "footer     footer      footer      footer      footer" 30% /
      1fr 1fr 1fr 1fr 1fr;
  }

  .header-conte {
    margin-top: 1px;
    display: grid;
    gap: 1px;
    grid-template:
      "section_nombre section_nav section_clima" 1fr /
      1fr 3fr 1fr;
  }
  
  .section_nombre, .section_nav, .section_clima {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    /*border: 1px solid black; */
    border-radius: 5px;
    padding: 0;
    text-align: center;
    overflow: hidden;
  }
  .section_clima {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /*border: 1px solid black;*/
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    overflow: hidden;
    color: rgba(0, 0, 0, 0.60);
    font-size: 1em;
  }
  
  
  .section_nombre {
    flex-direction: column;
  }
  
  .section_nombre > h1, .section_nombre > h3 {
    font-size: 1em;
    max-width: 90%;
    color: rgba(100, 100, 100, 0.9);
  }
  
  .nav-menu {
    display: flex;
    width: 100%;
    list-style: none;
    color: #646464;
    text-decoration: none;
    font-size: 1em;
    align-items: center;
    justify-content: space-around;
    padding: 0; 
    margin: 0; 
  }
  
  .nav-menu-item {
    max-width: 90%;
    font-size: 1.1em;
    padding: 0.15em;
    font-weight: 400;
    line-height: 40px;
    text-transform: uppercase;
  }
  
  .nav-menu-link {
    padding: 0.5em;
    color: rgba(100, 100, 100, 0.8);
    text-decoration: none;
  }
  
  .nav-menu-link:hover {
    color: rgba(100, 100, 100, 1);
    border-radius: 5px;
    background-color: #508fbd;
    transition: 0.3s;
    border: 1px solid rgba(189, 224, 136, 1);
    background-color: rgba(212,234, 177, 0.5);
    box-shadow: 2px 2px 2px #7b7b7b,
                -1px -1px 2px #ffffff;
  }
  
  .section_clima {
    font-size: 0.8em;
  }
}