* {
    margin: 0;/*margen en 0*/
    padding: 0;/*padding en 0*/
    box-sizing: border-box;/*para que no se vea el borde*/
    text-decoration: none;/*para que no se vea el texto*/
    font-family: 'Roboto', inconsolata;/*fuente*/
}

body {
    background-size: cover;/*la imagen de fonndo abarca todo*/
    background-attachment: fixed;/*para que se vea la imagen de fondo sea adj*/
    background-position: center;/*imagen de fondo centrada*/
    padding: 0px 0px 0px 0px;
    background-color: orange;
    width: 100%;
    height: 100vh;
}
.acerca{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    background-color: orange;
}

